# ─────────────────────────────────────────
# BOLÃO COPA DO MUNDO - ENVIRONMENT VARS
# ─────────────────────────────────────────

# App
NODE_ENV=development
PORT=3000

# MongoDB Atlas
MONGODB_URI=mongodb+srv://ezequielsantos12c_db_user:LRyiwjqf1aa76irq@bolaocopa.xkbjp1h.mongodb.net/?appName=BolaoCopa

# JWT
JWT_SECRET=s23r&T3Rnbife8rgtDE0-90
JWT_EXPIRES_IN=7d

# Admin seed (primeiro usuário admin)
ADMIN_EMAIL=admin@bolao.com
ADMIN_PASSWORD=Admin@123
ADMIN_NAME=Administrador
